GtkListBox {
  background-color: @theme_bg_color;
}

GtkScrolledWindow .scrollbar.trough {
  background-color: transparent;
  background-image: none;
}

.left-border {
  border-width: 0px 0px 0px 1px;
}

