GtkScrolledWindow .scrollbar.trough {
  background-color: transparent;
  background-image: none;
}

.top-toolbar {
  border-width: 0px 0px 1px 0px;
}

.top-toolbar > GtkToolItem > GtkSpinBox > GtkButton {
  border-width: 0px;
}

.fixed-list {
  background-color: @theme_bg_color;
}

.left-border {
  border-width: 0px 0px 0px 1px;
}

.bottom-border {
  border-width: 0px 0px 1px 0px;
}
